h1{
    font-size: 1.4rem;
    /* color: var(--main-h1-color); */
}
#nav-wrap .nav-links li {
    list-style: none;
    margin-right:0.5rem;
    font-size: 1.5rem;
    display: none;
    
    
   
  
}

#nav-wrap .hamburger{
    z-index: 999;
}
#nav-wrap .hamburger .line{
 width: 30px;
 height: 3px;
 background: #ffffff;
 margin: 5px;   
 
}

/* #nav-wrap .nav-links .brand{
  
} */
  

#nav-wrap .hamburger{
   
   cursor: pointer;
   align-self: center;
   margin-right: 10px;
   
   display: block;
  

   
   
    }

    .nav-side{
      
       display: flex;
      
       justify-content: center;
       align-items: center;
       background-color:#DEC79B ;
       height: 50vh;
       width: 80vw;
        visibility: visible;
       position: fixed;
       top: 10vh;
       pointer-events: none;
       z-index:-99;
       
       
       
     
        
       
    }

    .nav-side ul li{
        list-style: none;
        
       
    }

    #nav-wrap .nav-links .logo{
        width: 50px;
        height: 40px;
        margin-right: 1rem;
        align-self: center;
    }
    #nav-wrap .nav-links .contact img{
        width: 50px;
        height: 40px;
        margin-right: 1rem;
        /* align-self: center; */
       position: relative;
       top: 1.5rem;
       right: 0.3rem;

}
    .nav-side ul li a {
        text-decoration: none;
        color:#18181E;
        font-size: 1.5rem;
        line-height: 3;
        color: var(--main-h1-color);
       
    }

    .open{
      
        visibility: visible;
        transition:visibility 0.5s linear, opacity 0.8s linear;
        opacity: 0.9;
        border-radius: 10%;
        width: 80vw;
        margin: 1rem 10vw;
       
      
    }

    .open2{
        pointer-events: unset;
        z-index:2;
    }

    
    #showcase .carosel{
        grid-column: 1/3;
        grid-row: 2/3;
        /* background-color: var(--uti-txt-color);
        background-size: cover; */
        border: 1px solid;
        border-color: var(--uti-txt-color);
        border-color: var(--main-h1-color);
        border-radius: 10px;
        height: 100%;
        width: 100%;
      
    }
    
    #showcase .carosel .mySlides{
        color: var(--main-h1-color);
        display: none;
        font-size: 1.6rem;
        text-align: center;
        margin-top: 10%;
        
    }
    #services .main-services .service-items{
        font-size: 0.8rem;
        /* margin-left: 1rem;
        margin-right:1rem; */
        justify-items: flex-start;
    }

    #services .main-services .service-items li{
        list-style: none;
        line-height: 1,5;
    }

    #services .main-services .service-items h2{
        /* list-style: none; */
        font-size: 1rem;
        margin-top: 1rem;;
        margin-bottom: 1rem;
        
    }

    #services .main-services .service-items .first-letter{
        color:var(--main-h1-color);
        font-size: 1.2rem;
        }
        

    #contact .contact-form #firstname, #lastname{
        width: 90%;
        padding: 10px;
        margin: 1rem;
        font-size: 1.2rem;
        font-family: var(--utility-font);
       
    }
    
    
    #contact .contact-form #question{
        width: 90%;
        /* padding: 10px;
        margin: 1.5rem; */
        /* font-size: 1.3rem;
        font-family: var(--utility-font); */
        /* padding: 10px; */
        /* margin: 1rem; */
      
    
    }
