h1{
    font-size: 3rem;
    /* color: var(--main-h1-color); */
}
#nav-wrap .nav-links li {
    list-style: none;
    margin-right:0.5rem;
    font-size: 1.5rem;
    display: none;
   
  
}

#nav-wrap .hamburger{
    z-index: 999;
}
#nav-wrap .hamburger .line{
 width: 30px;
 height: 3px;
 background: #ffffff;
 margin: 5px;   
 
}


  

#nav-wrap .hamburger{
   
   cursor: pointer;
   align-self: center;
   margin-right: 10px;
   
   display: block;
  

   
   
    }

    .nav-side{
      
       display: flex;
      
       justify-content: center;
       align-items: center;
       background-color:#DEC79B ;
       height: 50vh;
       width: 80vw;
    visibility: visible;
       position: fixed;
       top: 10vh;
     
        
       
    }

    .nav-side ul li{
        list-style: none;
       
    }

    #nav-wrap .nav-links .logo{
        width: 10%;
        margin-right: 2rem;
    }

    .nav-side ul li a {
        text-decoration: none;
        color:#18181E;
        font-size: 1.5rem;
        line-height: 3;
        color: var(--main-h1-color);
    }

    .open{
      
        visibility: visible;
        transition:visibility 0.5s linear, opacity 0.8s linear;
        opacity: 0.9;
        border-radius: 10%;
        width: 80vw;
        margin: 1rem 10vw;
        
      
    }