/* resets */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* body::before{
    background: url("showcase.jpg");
    background-color: #333333;
    opacity: 0.2;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-repeat:no-repeat;
    /* background-position: center; 
    /* background-size: cover;
    filter: grayscale(40%);
    z-index: -1; */
    
/* }  */ 
/* variables */

:root{
    /* Vivid Vermilion */
    --main-h1-color:#EB5E28; 
    /* FLORAL WHITE */
    --pri-bg-color: #FFFCF2; 
    /* Pale Silver */
    --sec-bg-color:#CCC5B9;
    /* Raisin Black */
    --pri-txt-color:#252422;
    /* Black Olive */
    --uti-txt-color:#403D39;
    --content-font: 'Montserrat', sans-serif;
    --heading-font: 'Roboto', sans-serif;
    --utility-font: 'Poppins', sans-serif;

}


/* Utility */

h1 {
    font-size: 3rem;
    font-family: var(--content-font);
    color: var(--main-h1-color);
    
    
}

a {
    text-decoration: none;
}

/* Navigation area */
#nav-wrap::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
   background: url("showcase.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   filter: grayscale(20%);
   opacity: 0.3;
   z-index: -1;
    
}

#nav-wrap {
    width: 80vw;
    min-height: 15vh;
    position: sticky;
    top: 0;
    margin: 0 auto;
    /* background-color: var(--sec-bg-color); */
    /* position: fixed;
    top: 0;
    left: 10%;
    right: 10%; */


}


#nav-wrap #nav-bar {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    
    /* background-color: var(--pri-bg-color); */

    /* margin: 0 auto; */
}

#nav-wrap #nav-bar h1 {
    flex: 80%;
    text-align: center;
}
#nav-wrap #nav-bar .logo-img{
    flex:20%;
    height:100px;
    width: 100px;
    
    
}

#nav-wrap #nav-bar .contact{
    text-decoration: none;
    color:var(--main-h1-color);
    font-family: var(--utility-font);
    border: 1px solid;
    margin: 5px;
    padding: 5px;
    
}

#nav-wrap #nav-bar #toggle-img {

    display: none;
}



#nav-wrap #nav-bar ul {
    display: flex;
    justify-content: space-between;
    align-self:flex-end;
    /* margin-right: 0.5rem; */

}

#nav-wrap #nav-bar ul li {
    list-style: none;
    margin-right: 0.5rem;
    font-size: 1.5rem;
    font-family:var(--utility-font);
   

}

#nav-wrap #nav-bar ul li a {

    color: var(--main-h1-color);
}


#nav-wrap #nav-bar ul li a:hover {

    color: var(--pri-bg-color);
    background-color: goldenrod;
    border: 1px solid goldenrod;
    border-radius: 5px;
}


.nav-side {
    display: none;    
    opacity: 0;
    
}

.showcase{
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-auto-columns: 33.3%;
    grid-auto-rows: minmax(10vh, 15vh);
    
}