/* resets */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* body::before{
    background: url("showcase.jpg");
    background-color: #333333;
    opacity: 0.2;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-repeat:no-repeat;
    /* background-position: center; 
    /* background-size: cover;
    filter: grayscale(40%);
    z-index: -1; */

/* }  */
/* variables */

:root {
    /* Vivid Vermilion */
    --main-h1-color: #EB5E28;
    /* FLORAL WHITE */
    --pri-bg-color: #FFFCF2;
    /* Pale Silver */
    --sec-bg-color: #CCC5B9;
    /* Raisin Black */
    --pri-txt-color: #252422;
    /* Black Olive */
    --uti-txt-color: #403D39;
    --content-font: 'Montserrat', sans-serif;
    --heading-font: 'Roboto', sans-serif;
    --utility-font: 'Poppins', sans-serif;
    

}


/* Utility */

h1 {
    font-size: 2.7rem;
    font-family: var(--content-font);
    color: var(--main-h1-color);
    cursor: pointer;
   


}

a {
    text-decoration: none;
}

/* Navigation area */


#nav-wrap {
    display: flex;
    align-items: center;
    /* min-height: 10vh; */
    position: fixed;
    top: 0;
    margin: 0 auto;
    width: 100vw;

}





#nav-wrap .hamburger {


    display: none;
}



#nav-wrap .nav-links {
    display: flex;  
    background-color: #333333;
    width: 100%;
    

}

#nav-wrap .nav-links .logo{
    width: 60px;
    height: 50px;
    
    margin-right: 1rem;
    align-self: center;
}
#nav-wrap .nav-links .brand{
 margin-right: auto;
 align-self: center;
 
}

/* This one */
#nav-wrap .nav-links .contact img{
        width: 90px;
        height: 80px;
        margin-right: 1rem;
        /* align-self: center; */
       position: relative;
       top: 2rem;
       right: 8.3rem;

}

#nav-wrap .nav-links li {
    list-style: none;
    margin-right: 0.5rem;
    font-size: 1.5rem;
    font-family: var(--utility-font);
    margin-right: auto;
    align-self: flex-end;
    /* margin-left: 5rem; */
    
  


}

#nav-wrap .nav-links li a {

    color: var(--main-h1-color);
}


#nav-wrap .nav-links li a:hover {

    color: var(--pri-bg-color);
    background-color: goldenrod;
    border: 1px solid goldenrod;
    border-radius: 5px;
}


.nav-side {
    display: none;
    opacity: 0;

}


.showcase::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 90vh;
    width: 100vw;
    background: url("showcase.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(50%);
    opacity: 0.2;
    z-index: -1;

}
.showcase {
    display: grid;
    margin-top: 5rem;;
    justify-content: center;
    justify-items: center;
    align-items: center;
    /* grid-auto-columns: 33.3%; */
   
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-rows: minmax(10vh, 15vh);
    
    

}
